.image1, .image2, .image3 {
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 100%;
	text-align: center;
	width: 100%;
}

.image1 {
	background-image: url("../img/husky.jpg");
}

#home {
	background-color: #f1f1f1;
	margin: 30px 60px;
	padding: 50px;
	text-align: left;
}

#home > div {
	padding: 40px 0;
	text-align: center;
}

#home > div > button {
	background-color: #F56A56;
	border: none;
	color: #fff;
	font-size: 40px;
	padding: 30px 60px;
}

#home > h2, #services > div > h2 {
	font-size: 90px;
	margin: 0;
}

#home > span, #services > div > span {
	font-size: 80px;
}

#services {
	margin: 80px 60px;
}

#services > div {
	background-color: #f1f1f1;
	padding: 50px;
}

#services > ul {
	color: #C4A22F;
	list-style: url('../img/right-chevron.svg');
}

#slideshow {
	height: 700px;
	width: 100%;
}