* {
	font-family: 'Raleway', sans-serif;
}

body {
	margin: 0 auto;
}

#to-top {
	background-color: #C4A22F;
	padding: .5rem 0;
}

#to-top > span {
	display: block;
	padding: .1rem 0;
	text-align: center;
}

#to-top > span > a{
	color: #fff;
	font-size: .85rem;
	text-decoration: none;
}